/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');

body{
   font-family: "Instrument Serif", serif;
  font-weight: 300;
  
}

/* HEAD */
.backgroundTop{
    background-image: url("../img/marble.png");
    width: 100%;
    height: 110vh;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
     opacity: 0.80; 
     background-attachment: fixed;
     position: relative;
     z-index: 1;
}


/* MENU */

nav {
  position: fixed;
  width: 100%;
  padding: 15px 20px 0px 0px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
  z-index: 99999;
  top: 0;
  font-family: "Instrument Sans", sans-serif;
  text-transform: uppercase;
    left: 0;
   transition: background-color 0.4s ease;

  }

#menu.scrolled {
  background-color: #000;
  color: #fff; 
  opacity: 0.8;
}


a {
  color: inherit;
  text-decoration: none;
  z-index: 9999;
  margin-inline: 1rem;
  padding-bottom: 0.2rem;
}

a:hover,
a:focus {
  border-bottom: 1px solid;
  border-image: linear-gradient(
    to right,
    #77530a,
    #ffd277,
    #77530a,
    #77530a,
    #ffd277,
    #77530a
  ) 1;
}

.list {
  list-style: none;
  margin-left: auto;
  display: flex;
}

.list li {
  margin-left: 20px;
}





/* INFOS */

.headerContent {
    position: fixed;
    inset: 0;      /* top: 0; right: 0; bottom: 0; left: 0 */
    z-index: 2;
}



.infos{
background-color: #000;
color: #fff;
position: absolute;
top: 30vh;
    left: 20vh;
padding: 5rem;

padding-inline: 8rem;
width: 35%;
opacity: 0.8;
position: fixed;
 z-index: 2;

}
h1{
  font-size: 3.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
 
    
}

h2{
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  
}

/* Images */

.naomiTopImage{
filter: grayscale(100%) contrast(140%);
  width: 25%;
  margin-top: 20vh;
  margin-left: 105vh;
  position: fixed;
   z-index: 2;
}

.naomiTopImage2{
filter: grayscale(100%) contrast(130%);
  width: 20%;
  margin-top: 50vh;
  margin-left: 130vh;
    position: fixed;
     z-index: 2;

}



.goldDetail {
  filter: contrast(150%);
  width: 25%;
  margin-left: 100vh;
    position: fixed;
margin-top: 20vh;
 z-index: 2;
}



/* MAIN */

.content{
    height: 500vh; 
    z-index: 3;
    position: relative;
     background: #fff; 

}

/* About */


.about{
  display: grid;
  grid-template-columns: 2fr 3fr;
}


.textAbout{
  background-color: #000;
  color: #fff;
  margin-top: -40px;
  padding-top: 2rem;
  text-align: left;

}

.textAbout h3,p{
  margin-left: 2rem;
  
  
}

.aboutTitle{
  margin-top: 8rem;
  font-size: 40px;
  margin-bottom: 0;
  letter-spacing: 1px;
}

.pictureAbout{

  transform: rotate(2deg); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 60%;
filter: grayscale(100%);
display: block;
margin-inline: auto;

}


.pictureAboutDiv{
  align-items: center;
  padding-top: 3rem;
}


.goldPaint{
  position: absolute;
  transform: rotate(2deg); 
  margin-top: -50px;
  margin-left: 10vh;
  width: 10%;
}

.lineAbout{
  margin-left: 2rem;
  display: block;
  position: relative;
  width: 9rem;
  margin-top: 10px;
  margin-bottom: 3rem;
  height: 0.2rem;
}

.aboutParagraph{
  line-height: 1.5rem;
  margin-right: 3rem;
  letter-spacing: 0.5px;
   font-weight: 400;
   font-family: "Instrument Sans", sans-serif;
 
}

.buttonAbout{
  margin-top: 2rem;
  margin-bottom: 9rem;
}

/* button */
.btn-100 {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
    background-size: 250%;
    background-position: left;
    margin: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    user-select: none;
    font-size: 15px;
}

.btn-100::before {
    position: absolute;
    content: "";
    color: #ffd277;
    inset: 3px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.842);
}

.btn-100 span {
    z-index: 1;
    color: #fff;
    display: block;
}

.btn-100:hover {
    background-position: right;
    transition-duration: 1s;
}

/* Eduaction */

.title{
    margin-top: 8rem;
  font-size: 40px;
  margin-bottom: 0;
  letter-spacing: 1px;
  text-align: center;
}

.line{
  margin-inline: auto;
  display: block;
  position: relative;
  width: 9rem;
  margin-top: 10px;
  margin-bottom: 3rem;
  height: 0.2rem;
}
