/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Instrument+Serif:ital@0;1&display=swap');

body{
   font-family: "Instrument Serif", serif;
  font-weight: 300;
  
}

/* HEAD */
.backgroundTop{
    background-image: url("../img/marble.png");
    width: 100%;
    height: 100vh;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
     opacity: 0.80; 
     background-attachment: fixed;
     filter: contrast(120%);
}


/* MENU */

nav {
  position: fixed;
  width: 100%;
  padding: 15px 20px 0px 0px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
  }



a {
  color: inherit;
  text-decoration: none;
   padding: 1rem;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
 
}


.list {
  list-style-type: none;
  margin-left: auto;
   display: flex;
  }
  
  li {
    margin-left: 20px;

  }




.content{
    height: 200vh;
}


/* INFOS */

.infos{
background-color: #000;
color: #fff;
position: absolute;
margin-top: 30vh ;
margin-left: 20vh;
padding: 5rem;

padding-inline: 8rem;
width: 35%;
opacity: 0.9;

}
h1{
  font-size: 3.5rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h2{
  font-family: "Carattere", cursive;
  font-weight: 400;
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
  
}

/* Images */

.naomiTopImage{
filter: grayscale(100%) contrast(140%);
  width: 25%;
  margin-top: 20vh;
  margin-left: 105vh;
}

.naomiTopImage2{
filter: grayscale(100%) contrast(100%);
  width: 20%;
  margin-top: -34vh;
  margin-left: 130vh;
  position: relative;
}



.goldDetail {
  filter: contrast(150%);
  width: 25%;
  margin-left: 100vh;
  transform: translateY(-70vh); 
}

